*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: rgb(245, 184, 202);
    color: rgb(255, 255, 255);
}

header{
    background-color:  rgb(255, 205, 238);
    color: aliceblue;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
    color: rgb(125, 199, 95);
}

.section{
    padding: 20px;
    background-color: rgb(248, 194, 219);
    margin: 20px 0;
}

.section h2{
    color: rgb(206, 94, 150);
}

.section img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Centrado de la imagen */
}

form {
    display: flex;
    flex-direction: column;
}

form label{
    margin-bottom: 5px;
}

form input, form textarea{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: rgb(216, 147, 187);
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover{
    background-color: rgb(255, 152, 238);
}

footer{
    background-color: whitesmoke;
    color: aliceblue;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
